<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="0">

  <Identity Name="5ceddc97-4cc6-43fa-98c4-d38f386ad0c4"
            Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
            Version="1.0.0.0"/>
  
  <ExecutableList>
    <Executable Name="PlatformTest_x.exe"
                Id="Game"
                TargetDeviceFamily="XboxOne"/>
    <Executable Name="PlatformTest_xs.exe"
                Id="Game"
                TargetDeviceFamily="Scarlett"/>
  </ExecutableList>

  <ShellVisuals DefaultDisplayName="PlatformTest (GDK)"
                PublisherDisplayName="Microsoft Corporation"
                StoreLogo="Asset\StoreLogo.png"
                Square150x150Logo="Asset\Logo.png"
                Square44x44Logo="Asset\SmallLogo.png"
                Description="PlatformTest for DirectXTex (GameCore on Xbox)"
                ForegroundText="light"
                BackgroundColor="#464646"
                SplashScreenImage="Asset\SplashScreen.png"/>
</Game>
